// Latex helper files
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*.synctex
*.pdfsync
*.vrb
*.nav
*.snm
*.tdo
_minted-*/
*.minted
*.pyg
src/*.pdf

//macOS 
.DS_Store

//IntelliJ
.idea
out